html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#abe {
  width: 100%;
  display: flex;
  justify-content: center;
}

#abe video {
  max-width: 100%;
  height: auto;
}

.info-wrapper {
  padding: 20px;
  margin-top: 30px;
  text-align: center;
  max-width: 800px; /* You can adjust this as per your design */
}

#description {
  font-size: 26px; /* Making the text inside description larger */
  line-height: 1.5;
}

#description a {
  color: #0070f3; /* Basic link color, you can change */
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .info-wrapper {
    padding: 15px;
  }
  
  #description {
    font-size: 24px; /* Slightly smaller for mobile, adjust as needed */
  }
}

.footer a {
  font-size: 2.0em;
  margin: 0 15px;
  color: #000;
}

.footer {
  display: flex;
  justify-content: center; /* Centers the icons horizontally */
}
